* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.text-section {
    color: #fff;
}

.text-section h1 {
    font-size: 6rem;
    line-height: 1.2;
    color: white;
}
.text-section h1 span {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.2); /* Add a light glow effect */
    font-size: 7rem; /* Make the "NOTHING" text larger */
}

.text-section p {
    margin-top: 20px;
    font-size: 1.5rem;  /* Increased subtext size */
    color: #bbb;
}

.image-section img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.2); /* Add a light glow effect */
    filter: brightness(1.2) contrast(1.1) blur(0.5px); /* Add a light filter effect */
}